<!DOCTYPE html>
<html lang="en">

<head>
        <title>WEB CINEMA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/stylesheets/GRID.css">
        <link rel="stylesheet" href="../public/stylesheets/index.css">
        <link rel="stylesheet" href="../public/stylesheets/bootstrap-4.5.0-dist/css/bootstrap.css">
        <script src="../public/javascripts/jquery-3.5.1.min.js"></script>
        <script src="../public/javascripts/header.js"></script>
</head>

<body>
        <div class="grid wide">
                <div class="row">
                        <div class="content">
                                <div class="main flex">
                                        <div><img class="main__img" src=<%=data.moviePicture%> alt=""></div>
                                        <div class="main_right">
                                                <ul>
                                                        <li class="main_right_lists--review flex"><span
                                                                        class="main_right_lists_left">Tên
                                                                        phim</span><span
                                                                        class="main_right_lists_right"><%=data.movieTitle%></span>
                                                        </li>
                                                        <li class="main_right_lists flex"><span
                                                                        class="main_right_lists_left">Rating</span><span
                                                                        class="main_right_lists_right"><%=data.movieRating%></span>
                                                        </li>
                                                        <li class="main_right_lists flex"><span
                                                                        class="main_right_lists_left">Thời
                                                                        lượng</span><span
                                                                        class="main_right_lists_right"><%=data.movieLength%></span>
                                                        </li>
                                                        <li class="main_right_lists flex"><span
                                                                        class="main_right_lists_left">Quốc
                                                                        Gia</span><span
                                                                        class="main_right_lists_right"><%=data.movieCountry%></span>
                                                        </li>
                                                        <li class="main_right_lists flex"><span
                                                                        class="main_right_lists_left">Nhà sản
                                                                        xuất</span><span
                                                                        class="main_right_lists_right"><%=data.movieProceducer%></span>
                                                        </li>
                                                        <li class="main_right_lists flex"><span
                                                                        class="main_right_lists_left">Thể
                                                                        loại</span><span
                                                                        class="main_right_lists_right"><%=data.movieGenre%></span>
                                                        </li>
                                                        <li class="main_right_lists flex"><span
                                                                        class="main_right_lists_left">Đạo
                                                                        diễn</span><span
                                                                        class="main_right_lists_right"><%=data.movieDirector%></span>
                                                        </li>
                                                        <li class="main_right_lists flex"><span
                                                                        class="main_right_lists_left">Diễn
                                                                        viên</span><span
                                                                        class="main_right_lists_right"><%=data.movieActor%></span>
                                                        </li>
                                                        <li class="main_right_lists flex"><span
                                                                        class="main_right_lists_left">Ngày khởi
                                                                        chiếu</span><span
                                                                        class="main_right_lists_right"><%=data.movieOpenDate%></span>
                                                        </li>
                                                        <li class="main_right_lists--review flex"><span
                                                                        class="main_right_lists_left">Tóm
                                                                        tắt</span><span
                                                                        class="main_right_lists_right"><%=data.movieReview%></span>
                                                        </li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="video-container"><iframe src=<%=data.movieTrailer%>>div
                                        </iframe></div>
                        </div>
                </div>
        </div>
</body>

</html>